# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
vendor/

# VSCode
.vscode/
*.code-workspace
.history/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/


# Custom Rules
config.yaml
resource/diakg